@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Tahoma, "Open Sans", "Inter", sans-serif;
}

html,
body {
  overflow-x: hide;
}
html .main,
body .main {
  height: calc(100vh - 5rem);
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../images/germany.jpg);
  background-position: center;
  background-size: cover;
}

.header {
  height: 5rem;
  background-color: #03045e;
  color: #fff;
  padding: 1rem;
}
.header .header-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header .header-nav .header-nav-title {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.header .header-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 0;
}
.header .header-nav ul li {
  list-style: none;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 9px;
}
.header .header-nav ul li a:hover {
  color: #ade8f4;
  text-decoration: underline;
}
.header .header-nav ul li:last-of-type {
  background-color: #ee9b00;
  margin: 0.3rem;
  padding: 0 0.8rem;
  border-radius: 9px;
  overflow: hidden;
}
.header .header-nav ul li:last-of-type a:hover {
  color: #ee9b00;
  text-decoration: none;
}
.header .header-nav ul li:last-of-type:hover {
  background-color: #fff;
  color: #ee9b00;
  cursor: pointer;
}
.header .header-nav ul li:last-of-type:focus, .header .header-nav ul li:last-of-type:active {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(238, 155, 0, 0.5);
}
.header .header-nav ul li a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  width: 100%;
}
.header .header-nav ul li a:not(.no-focus):focus, .header .header-nav ul li a:not(.no-focus):active {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(173, 232, 244, 0.5);
  border-radius: 4px;
}
.header .header-nav .btn-mobile-nav {
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  padding-top: 0.5rem;
  display: none;
}

@media (max-width: 576px) {
  .header .header-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .header .header-nav .btn-mobile-nav {
    display: block;
    z-index: 2;
    padding-top: 0;
  }
  .header .header-nav .btn-mobile-nav i[name=menu-outline] {
    display: block;
    color: #ade8f4;
  }
  .header .header-nav .btn-mobile-nav i[name=close-outline] {
    display: none;
  }
  .header .header-nav li:last-of-type {
    height: 3rem;
    color: #fff;
    font-weight: 500;
  }
  .nav-open .header-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ade8f4;
    color: #03045e;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 20rem auto;
    justify-content: center;
    gap: 3rem;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
    padding: 1rem;
  }
  .nav-open #nav-bar {
    opacity: 0;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .btn-mobile-nav i[name=menu-outline] {
    display: none;
  }
  .nav-open .btn-mobile-nav i[name=close-outline] {
    display: block !important;
  }
}
#home {
  display: flex;
  height: 100%;
}
#home .home-features {
  padding: 3rem;
  padding-right: 0;
  width: 60%;
  color: #fff;
}
#home .home-features .home-title {
  margin: 0 auto 2rem;
  text-align: center;
  font-size: 2rem;
}
#home .home-features .home-description {
  margin-bottom: 2rem;
}
#home .home-features .features-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
#home .home-features .features-container .home-features-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  width: 20rem;
  margin: 0 auto;
}
#home .home-features .features-container .home-features-list .home-feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#home .home-features .features-container .home-features-list .home-feature .home-feature-icon {
  width: 2.4rem;
  height: 2.4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
#home .home-features .features-container .home-features-list .home-feature .home-feature-icon i {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  color: #ee9b00;
  background-color: #fff;
}
#home .home-features .home-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 4rem;
}
#home .home-features .home-buttons-container .home-button {
  height: 2.5rem;
  width: 13rem;
}
#home .home-features .home-buttons-container .home-button .button {
  height: 100%;
  width: 100%;
  border-radius: 9px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
#home .home-features .home-buttons-container .home-button .button a {
  color: inherit;
  text-decoration: none;
}
#home .home-features .home-buttons-container .home-button .button .learn-more-icon {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  color: #03045e;
}
#home .home-features .home-buttons-container .home-button .button:hover {
  cursor: pointer;
}
#home .home-features .home-buttons-container .home-button .button:hover .learn-more-icon {
  color: #fff;
  background-color: #03045e;
}
#home .home-features .home-buttons-container .home-button .call-to-action {
  background-color: #ee9b00;
  color: #fff;
}
#home .home-features .home-buttons-container .home-button .call-to-action:hover {
  background-color: #fff;
  color: #ee9b00;
  border: 1px solid #ee9b00;
}
#home .home-features .home-buttons-container .home-button .learn-more {
  color: #03045e;
}
#home .home-features .home-buttons-container .home-button .learn-more:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #03045e;
}
#home .home-right-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .home-right-image img {
  border: 3px solid #fff;
  height: 55%;
  transform: rotate(2deg);
  border-radius: 9px;
}

@media (max-width: 576px) {
  body .main {
    height: auto;
  }
  body .main #home {
    flex-direction: column-reverse;
  }
  body .main #home .home-right-image {
    width: 100%;
    padding-top: 1rem;
  }
  body .main #home .home-right-image img {
    max-width: 70%;
  }
  body .main #home .home-features {
    width: 90%;
  }
  body .main #home .home-features .home-description {
    margin-bottom: 0;
  }
  body .main #home .home-features .features-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  body .main #home .home-features .home-buttons-container {
    flex-direction: column;
    height: 7rem;
    gap: 1rem;
  }
  body .main #home .home-features .home-buttons-container .home-button {
    width: 90%;
  }
}
#how_it_works {
  background: linear-gradient(to bottom right, #f0f9fa, #94d2bd);
  color: #03045e;
}
#how_it_works .container {
  padding: 3rem 0;
}
#how_it_works .container .row h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #4d4a57;
}
#how_it_works .container .row .title-h3 {
  counter-increment: my-counter;
}
#how_it_works .container .row img {
  max-width: 100%;
  transform: scale(1.2);
  object-fit: contain;
  z-index: 0;
  position: relative;
}
#how_it_works .container .container-h2 {
  font-size: 2rem;
  font-weight: 600;
}
#how_it_works .container div .img-container {
  position: relative;
}
@keyframes gradientAnimation {
  0% {
    transform: translate(-45%, -50%) scale(1.05);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(-45%, -50%) scale(1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(-45%, -50%) scale(1.05);
    animation-timing-function: ease-in-out;
  }
}
#how_it_works .container div .img-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 60%;
  height: 80%;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.1) 50%);
  pointer-events: none;
  animation: gradientAnimation 2s infinite;
}

@media (max-width: 576px) {
  .container-h2,
  .title-h3 {
    text-align: center;
  }
}
.body-form {
  font-weight: 400;
  font-size: 1rem;
  background-color: #94d2bd;
}
.body-form .main-form {
  font-family: Tahoma;
  color: #fff;
  width: 40rem;
  max-width: 90%;
  margin: 1rem auto;
  border-radius: 9px;
  border: none;
  background-color: #03045e;
}
.body-form .main-form .header-form {
  margin-top: 2rem;
  padding-top: 2rem;
}
.body-form .main-form .header-form .h1-form {
  line-height: 2.2rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 90%;
}
.body-form .main-form .header-form p {
  text-align: center;
  margin: 1rem auto;
  max-width: 90%;
}
.body-form .main-form #survey-form {
  padding: 1.5rem 4rem;
}
.body-form .main-form #survey-form fieldset {
  padding: 0;
  border: none;
  margin: 0;
  max-width: 100%;
}
.body-form .main-form #survey-form fieldset label {
  display: block;
  width: 100%;
  margin: 0.8rem 0;
}
.body-form .main-form #survey-form fieldset div {
  margin: 0.8rem auto;
}
.body-form .main-form #survey-form .personal-info input {
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 9px;
  border: none;
  margin-top: 0.3rem;
  font-size: inherit;
  padding: 0.25rem;
}
.body-form .main-form #survey-form .personal-info input[type=text],
.body-form .main-form #survey-form .personal-info input[type=email],
.body-form .main-form #survey-form .personal-info input[type=number] {
  box-sizing: border-box;
  padding-left: 10px;
}
.body-form .main-form #survey-form .another-info div select {
  height: 2.5rem;
  padding: 0.25rem;
  border-radius: 9px;
  margin-top: 0.3rem;
  font-size: inherit;
  color: gray;
}
.body-form .main-form #survey-form .another-info p {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.body-form .main-form #survey-form .another-info label {
  padding: 0;
  margin: 0;
}
.body-form .main-form #survey-form .feedback p,
.body-form .main-form #survey-form .feedback label {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.body-form .main-form #survey-form .feedback p textarea,
.body-form .main-form #survey-form .feedback label textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 9px;
  margin-top: 0.3rem;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%;
}
.body-form .main-form #survey-form button {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  background-color: #ee9b00;
  color: #fff;
  border-radius: 9px;
  border: 1px solid #fff;
  height: 2.5rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
.body-form .main-form #survey-form button:hover {
  color: #ee9b00;
  background-color: #fff;
}

@media (max-width: 576px) {
  .body-form .main-form #survey-form {
    padding: 1.5rem 2rem;
  }
}
#pricing {
  border-top: 2px solid #fff;
  background: linear-gradient(to bottom right, #023e8a, #0096c7);
  max-width: 100vw;
  height: 100vh;
  padding: 1rem 15rem 5rem;
}
#pricing .pricing-title {
  padding-top: 0%;
  margin: 1rem auto 2rem;
  text-align: center;
  color: #e0f2fe;
}
#pricing .pricing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  min-width: 0;
}
#pricing .pricing-container .pricing-item-parent {
  height: 28rem;
  width: 40%;
  position: relative;
}
#pricing .pricing-container .pricing-item-parent .star {
  --star-color: #eec200;
  --sqrt-3: 1.73205080757;
  overflow: visible;
  margin: 0 auto;
  top: -1.1em;
  right: -1em;
  font-size: 2em;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: calc(1em * var(--sqrt-3)) solid var(--star-color);
}
#pricing .pricing-container .pricing-item-parent .star:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -1em;
  top: calc(1em * var(--sqrt-3) / 3);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: calc(1em * var(--sqrt-3)) solid var(--star-color);
}
#pricing .pricing-container .pricing-item-parent .word {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 1em;
  font-weight: bold;
  font-family: "Inter";
}
#pricing .pricing-container .pricing-item-parent .pricing-item {
  background-color: #e0f2fe;
  border: 1px solid #e0f2fe;
  border-radius: 9px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
#pricing .pricing-container .pricing-item-parent .pricing-item:hover {
  box-shadow: 0 0 1rem rgba(224, 242, 254, 0.8);
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-title {
  background-color: #023e8a;
  color: #e0f2fe;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-title p {
  padding: 0;
  margin: 0;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info p {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-price .pricing-item-price-sign {
  font-size: 1.5rem;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-price .pricing-item-price-number {
  font-size: 3rem;
  font-weight: 800;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-info-advantages {
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1.5rem;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-info-advantages .pricing-item-info-advantage {
  display: flex;
  align-items: center;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-info-advantages .pricing-item-info-advantage p {
  padding: auto 0;
  margin: auto 0;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info .pricing-item-info-advantages .pricing-item-info-advantage .icon-pricing {
  width: 2rem;
  margin: auto 1rem;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info button {
  height: 3rem;
  background-color: #ee9b00;
  color: #e0f2fe;
  display: block;
  width: 12rem;
  margin: 1rem auto;
  border-radius: 9px;
  border: none;
  font-size: 1.3rem;
}
#pricing .pricing-container .pricing-item-parent .pricing-item .pricing-item-info button:hover {
  background-color: #e0f2fe;
  color: #ee9b00;
  border: 1px solid #ee9b00;
  cursor: pointer;
}

@media (max-width: 576px) {
  #pricing {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    height: 100%;
  }
  #pricing .pricing-container {
    flex-direction: column;
  }
  #pricing .pricing-container .pricing-item-parent {
    width: 95%;
  }
}
.main-explore {
  background-color: #e0f2fe;
}
.main-explore div {
  padding: 3rem;
}
.main-explore div .main-explore-main-text {
  color: #023e8a;
}
.main-explore h1 {
  color: #023e8a;
  text-align: center;
}
.main-explore p {
  padding: 2rem;
}
.main-explore button {
  display: block;
  margin: 0 auto;
  height: 2.5rem;
  border-radius: 9px;
  width: auto;
  padding: 0 0.5rem;
  background-color: #ee9b00;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
}
.main-explore button:hover {
  background-color: #fff;
  color: #ee9b00;
  border: 1px solid #ee9b00;
  cursor: pointer;
}
.main-explore .explore-container {
  background-color: #023e8a;
  color: #e0f2fe;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.main-explore .explore-container .explore-container-element {
  width: 45%;
}
.main-explore .explore-container .explore-container-element img {
  border-radius: 50%;
}
.main-explore .explore-container .explore-container-element div {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.main-explore .explore-container .explore-container-element div i {
  height: 2rem;
  width: 2rem;
  background-color: #ee9b00;
  color: #fff;
  border-radius: 9px;
}

@media (max-width: 576px) {
  .main-explore div {
    padding: 3rem 0.5rem;
  }
  .main-explore .explore-container {
    display: flex;
    flex-direction: column;
  }
  .main-explore .explore-container .explore-container-element {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .main-explore .explore-container .explore-container-element h2 {
    text-align: center;
  }
  .main-explore .explore-container .explore-container-element img {
    max-width: 100%;
  }
}
.footer {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  color: #ddd6fe;
  background-color: #03045e;
}
.footer * {
  margin: 0.5rem;
}
.footer h2 {
  margin-top: 0;
  font-size: 2rem;
}
.footer button {
  height: 2.5rem;
  border: none;
  border-radius: 9px;
  width: 8rem;
  color: #03045e;
  background-color: #ddd6fe;
  font-size: 1.2rem;
}
.footer button:hover {
  background-color: #03045e;
  color: #ddd6fe;
  border: 1px solid #ddd6fe;
  cursor: pointer;
}
.footer .socialmedia-icons {
  height: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.footer .socialmedia-icons .icon-footer {
  color: #e0f2fe;
  width: 3rem;
  font-size: 2.5rem;
  text-decoration: none;
  height: 3rem;
  transition: transform 0.1s ease;
}
.footer .socialmedia-icons .icon-footer:hover {
  transform: scale(1.05);
}

/* --------------------------------------------------------------- */
/* HEADER */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* HOME SECTION */
/* --------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* HOW IT WORKS */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* TRY IT FOR FREE */
/* ------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* PRICING */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* EXPLORE */
/* ----------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------------------------------------ */

/*# sourceMappingURL=style.css.map */
