@import "variables";

.main-explore {
  background-color: $blue-light-3;
  div {
    padding: 3rem;
    .main-explore-main-text {
      color: $blue-dark;
    }
  }
  h1 {
    color: $blue-dark;
    text-align: center;
  }
  p {
    padding: 2rem;
  }
  button {
    display: block;
    margin: 0 auto;
    height: 2.5rem;
    border-radius: 9px;
    width: auto;
    padding: 0 0.5rem;
    background-color: $yellow;
    color: $white;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    &:hover {
      background-color: $white;
      color: $yellow;
      border: 1px solid $yellow;
      cursor: pointer;
    }
  }
  .explore-container {
    background-color: $blue-dark;
    color: $blue-light-3;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    .explore-container-element {
      width: 45%;
      img {
        border-radius: 50%;
      }
      div {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        i {
          height: 2rem;
          width: 2rem;
          background-color: $yellow;
          color: $white;
          border-radius: 9px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .main-explore {
    div {
      padding: 3rem 0.5rem;
    }
    .explore-container {
      display: flex;
      flex-direction: column;
      .explore-container-element {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0;
        h2 {
          text-align: center;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}
