#how_it_works {
  background: linear-gradient(to bottom right, #f0f9fa, #94d2bd);
  color: #03045e;
  .container {
    padding: 3rem 0;
    .row {
      h2 {
        font-size: 4rem;
        font-weight: 700;
        color: #4d4a57;
      }
      .title-h3 {
        counter-increment: my-counter;
      }
      img {
        max-width: 100%;
        transform: scale(1.2);
        object-fit: contain;
        z-index: 0;
        position: relative;
      }
    }
    .container-h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    div {
      .img-container {
        position: relative;
        @keyframes gradientAnimation {
          0% {
            transform: translate(-45%, -50%) scale(1.05);
            animation-timing-function: ease-in-out;
          }
          50% {
            transform: translate(-45%, -50%) scale(1);
            animation-timing-function: ease-in-out;
          }
          100% {
            transform: translate(-45%, -50%) scale(1.05);
            animation-timing-function: ease-in-out;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-45%, -50%);
          width: 60%;
          height: 80%;
          border-radius: 50%;
          background: radial-gradient(
            circle,
            rgba(0, 0, 0, 7) 0%,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0.1) 50%
          );
          pointer-events: none;
          animation: gradientAnimation 2s infinite;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container-h2,
  .title-h3 {
    text-align: center;
  }
}
