@import "variables";

#how_it_works {
  background: linear-gradient(to bottom right, $white-light, $blue-light-2);
  color: $blue-extra-dark;
  .container {
    padding: 3rem 0;
    .row {
      h2 {
        font-size: 4rem;
        font-weight: 700;
        color: $gray;
      }
      .title-h3 {
        counter-increment: my-counter;
      }
      img {
        max-width: 100%;
        transform: scale(1.2);
        object-fit: contain;
        z-index: 0;
        position: relative;
      }
    }
    .container-h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    div {
      .img-container {
        position: relative;
        @mixin animation-linear-gradient($scale) {
          transform: translate(-45%, -50%) scale($scale);
          animation-timing-function: ease-in-out;
        }

        @keyframes gradientAnimation {
          0% {
            @include animation-linear-gradient(1.05);
          }
          50% {
            @include animation-linear-gradient(1);
          }
          100% {
            @include animation-linear-gradient(1.05);
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-45%, -50%);
          width: 60%;
          height: 80%;
          border-radius: 50%;
          background: radial-gradient(
            circle,
            $black-radial-first 0%,
            $black-radial-second 60%,
            $black-radial-third 50%
          );
          pointer-events: none;
          animation: gradientAnimation 2s infinite;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container-h2,
  .title-h3 {
    text-align: center;
  }
}
