$blue-extra-dark: #03045e;
$white: #fff;
$blue-light: #ade8f4;
$blue-light-transparent: rgb(173, 232, 244, 0.5);
$yellow: #ee9b00;
$yellow-transparent: rgb(238, 155, 0, 0.5);

$blue-light-2: #94d2bd;
$white-light: #f0f9fa;
$gray: #4d4a57;
$black-radial-first: rgba(0, 0, 0, 7);
$black-radial-second: rgba(0, 0, 0, 0.3);
$black-radial-third: rgba(0, 0, 0, 0.1);

$blue-light-3: #e0f2fe;
$blue-dark: #023e8a;

$blue-dark-light: #0096c7;


